.stApp {
    background-color: #f8fafc;
}

h1 {
    color: #0f172a;
    font-weight: 700;
}

[data-testid="stSidebar"] {
    background: linear-gradient(
        180deg,
        #0f172a,
        #1e293b
    );
}

[data-testid="stSidebar"] * {
    color: white;
}

.stButton > button {
    width: 100%;
    border-radius: 12px;
    height: 48px;
    font-weight: 600;
}

div[data-testid="stDataFrame"] {
    border-radius: 12px;
}
